* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "rundschrift";
  src: url(/fonts/vag_rundschrift_d.woff2) format("woff2");
}

:root {
  --font: sans-serif;
  --heading-font: "rundschrift", sans-serif;

  /* ---------- Font sizes ---------- */
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.875rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.5rem;

  /* ---------- Colors: Text ---------- */
  --text-color: #000;
  --alt-text-color: #fff;

  /* ---------- Colors: General ---------- */
  --primary-color: #6a0025;
  --background-color: #f0e5e9;
  --background-color-alt: #fff;
  --background-category-color: #d2b2bd;

  /* ---------- Paddings ---------- */
  --padding-button: 8px 16px;
  --padding-label: 4px;

  /* ---------- Border radius ---------- */
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-nav: 3px solid var(--primary-color);

  /* ---------- Misc ---------- */
  --gap: .5rem;
  --card-max-width: 384px;
  --focus: solid 2px blue;

  --s: 80px; /* control the size*/
  --c1: #880808;
  --c2: black;
    
  --t: calc(var(--s)/10);  /* control the thickness */
  --_s: calc(2*var(--s)) calc(5*var(--s)/2);
  --_r0: /var(--_s) radial-gradient(calc(var(--s)/2) at 0    20%,var(--_c));
  --_r1: /var(--_s) radial-gradient(calc(var(--s)/2) at 100% 20%,var(--_c));
  --_c: #0000 calc(98% - var(--t)),var(--c1) calc(100% - var(--t)) 98%,#0000;
}

html {
  height: 100vh;
  background:
  0 0 var(--_r0),calc(-1*var(--s)) calc(5*var(--s)/4) var(--_r0),
  var(--s) 0 var(--_r1),0 calc(5*var(--s)/4) var(--_r1),
  conic-gradient(at var(--t) calc(20% + 2*var(--t)),#0000 75%,var(--c1) 0)
  calc(var(--t)/-2) calc(var(--s) - var(--t))/var(--s) calc(5*var(--s)/4),
  repeating-conic-gradient(var(--c2) 0 25%,#0000 0 50%)
  var(--s) calc(var(--s)/-8)/var(--_s),
  conic-gradient(from 90deg at var(--t) var(--t),var(--c2) 25%,var(--c1) 0) 
  calc((var(--s) - var(--t))/2) calc((var(--s) - var(--t))/2)/var(--s) calc(5*var(--s)/4);
}

body {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  color: white;
}

:focus {
  outline: var(--focus);
  border-radius: var(--border-radius-sm);
}

:focus:not(:focus-visible) {
  outline: 0;
}

::placeholder {
  color: var(--text-color);
}
